@model TelesalesSchedule.Models.EditEmployeeViewModel
@{
    ViewBag.Title = "Create";
}
<div class="container">
    <div class="well">
        <h2>Create Employee</h2>
        @using (Html.BeginForm("Create", "Employee", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <p style="text-align:center;" class="text-danger">@ViewBag.ErrorMessage</p>
            <div class="form-group">
                @Html.LabelFor(m => m.FullName, new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.UserName, new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @rows = "7" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ManagerFullName, new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.ManagerFullName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.BirthDay, new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.BirthDay, new { @class = "form-control", @rows = "7" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.FullTimeAgent, new { @class = "control-label col-sm-4" })
                <div class="col-sm-1">
                    @Html.CheckBoxFor(m => m.FullTimeAgent, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.SaveDeskAgent, new { @class = "control-label col-sm-4" })
                <div class="col-sm-1">
                    @Html.CheckBoxFor(m => m.SaveDeskAgent, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.SeniorSpecialist, new { @class = "control-label col-sm-4" })
                <div class="col-sm-1">
                    @Html.CheckBoxFor(m => m.SeniorSpecialist, new { @class = "form-control", @rows = "7" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.IsDeleted, new { @class = "control-label col-sm-4" })
                <div class="col-sm-1">
                    @Html.CheckBoxFor(m => m.IsDeleted, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-4">
                    <input type="submit" value="Create" class="btn btn-success" />
                    @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-info" })
                </div>
            </div>
        }
    </div>
</div>