@model TelesalesSchedule.Models.ViewModels.ScheduleView

@{
    ViewBag.Title = "Edit";
}

@{
    List<SelectListItem> hoursList = new List<SelectListItem>();
    hoursList.Add(new SelectListItem
    {
        Text = null,
        Value = null
    });
    hoursList.Add(new SelectListItem
    {
        Text = "9:00",
        Value = "9"
    });
    hoursList.Add(new SelectListItem
    {
        Text = "10:00",
        Value = "10"
    });
    hoursList.Add(new SelectListItem
    {
        Text = "11:00",
        Value = "11"
    });
    hoursList.Add(new SelectListItem
    {
        Text = "12:00",
        Value = "12"
    });
    hoursList.Add(new SelectListItem
    {
        Text = "13:00",
        Value = "13"
    });
    hoursList.Add(new SelectListItem
    {
        Text = "14:00",
        Value = "14"
    });
    hoursList.Add(new SelectListItem
    {
        Text = "15:00",
        Value = "15"
    });
    hoursList.Add(new SelectListItem
    {
        Text = "16:00",
        Value = "16"
    });
    hoursList.Add(new SelectListItem
    {
        Text = "17:00",
        Value = "17"
    });
    hoursList.Add(new SelectListItem
    {
        Text = "18:00",
        Value = "18"
    });
    hoursList.Add(new SelectListItem
    {
        Text = "19:00",
        Value = "19"
    });
    hoursList.Add(new SelectListItem
    {
        Text = "20:00",
        Value = "20"
    });
    hoursList.Add(new SelectListItem
    {
        Text = "21:00",
        Value = "21"
    });

}
<div class="container">
    <div class="well">
        <h2>Edit Schedule</h2>
        @using (Html.BeginForm("Edit", "Schedule", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <p style="text-align:center;" class="text-danger">@ViewBag.ErrorMessage</p>
            <div class="form-group">
                <p style="text-align:center;" class="text-danger">@ViewBag.MondayError</p>
                @Html.Label("Monday", new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.DropDownListFor(m => m.MondayStart, hoursList, new { @style = "color : black" })
                    @Html.DropDownListFor(m => m.MondayEnd, hoursList, new { @style = "color : black" })
                </div>
            </div>
            <div class="form-group">
                <p style="text-align:center;" class="text-danger">@ViewBag.ThuesdayError</p>
                @Html.Label("Thuesday", new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.DropDownListFor(m => m.ThuesdayStart, hoursList, new { @style = "color : black" })
                    @Html.DropDownListFor(m => m.ThuesdayEnd, hoursList, new { @style = "color : black" })
                </div>
            </div>
            <div class="form-group">
                <p style="text-align:center;" class="text-danger">@ViewBag.WednesdayError</p>
                @Html.Label("Wednesday", new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.DropDownListFor(m => m.WednesdayStart, hoursList, new { @style = "color : black" })
                    @Html.DropDownListFor(m => m.WednesdayEnd, hoursList, new { @style = "color : black" })
                </div>
            </div>
            <div class="form-group">
                <p style="text-align:center;" class="text-danger">@ViewBag.ThursdayError</p>
                @Html.Label("Thursday", new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.DropDownListFor(m => m.ThursdayStart, hoursList, new { @style = "color : black" })
                    @Html.DropDownListFor(m => m.ThursdayEnd, hoursList, new { @style = "color : black" })
                </div>
            </div>
            <div class="form-group">
                <p style="text-align:center;" class="text-danger">@ViewBag.FridayError</p>
                @Html.Label("Friday", new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.DropDownListFor(m => m.FridayStart, hoursList, new { @style = "color : black" })
                    @Html.DropDownListFor(m => m.FridayEnd, hoursList, new { @style = "color : black" })
                </div>
            </div>
            <div class="form-group">
                <p style="text-align:center;" class="text-danger">@ViewBag.SaturdayError</p>
                @Html.Label("Saturday", new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.DropDownListFor(m => m.SaturdayStart, hoursList, new { @style = "color : black" })
                    @Html.DropDownListFor(m => m.SaturdayEnd, hoursList, new { @style = "color : black" })
                </div>
            </div>
            <div class="form-group">
                <p style="text-align:center;" class="text-danger">@ViewBag.SundayError</p>
                @Html.Label("Sunday", new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.DropDownListFor(m => m.SundayStart, hoursList, new { @style = "color : black" })
                    @Html.DropDownListFor(m => m.SundayEnd, hoursList, new { @style = "color : black" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-4">
                    <input type="submit" value="Edit" class="btn btn-success" />
                    @if (this.User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Cancel", "ListAll", "Schedule", null, new { @class = "btn btn-info" })
                    }
                    else
                    {
                        @Html.ActionLink("Cancel", "ListMySchedules", "Schedule", null, new { @class = "btn btn-info" })
                    }
                </div>
            </div>
        }
    </div>
</div>
