@model List<TelesalesSchedule.Models.Schedule>

@{
    ViewBag.Title = "ListMySchedules";
}

@{var n = 0;}

<div class="container">
    <div class="well">
        <h2>Schedules</h2>

        <table class="table table-striped table-hover">
            <thead>
                <tr class="success">
                    <th>Id</th>
                    <th>StartDate</th>
                    <th>EndDate</th>
                    <th>Working Hours</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var schedule in Model)
                {
                    if (n % 2 == 0)
                    {
                        @:<tr class="alert-active">
                    }
                    else
                    {
                        @:<tr>
                    }

                    <td>@schedule.Id</td>
                    <td>@schedule.StartDate.ToShortDateString()</td>
                    <td>@schedule.EndDate.ToShortDateString()</td>
                    <td>@schedule.Hours</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Schedule", new { @id = schedule.Id }, null)
                        @Html.ActionLink("Details", "Details", "Schedule", new { @id = schedule.Id },null)
                    </td>

                    n++;
                }
            </tbody>
        </table>
    </div>
</div>
