@model List<TelesalesSchedule.Models.Computer>

@{ 
    ViewBag.Title = "List";
}

@{var n = 0;}

<div class="container">
    <div class="well">
        <h2>Computers</h2>

        <table class="table table-striped table-hover">
            <thead>
                <tr class="success">
                    <th>Name</th>
                    <th>ComputerName</th>
                    <th>IpAddress</th>
                    <th>Location</th>
                    <th>IsWorking</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var computer in Model)
                {
                    if (n % 2 == 0)
                    {
                        @:<tr class="active">
                    }
                    else
                    {
                        @:<tr>
                    }

                    <td>@computer.Name</td>
                    <td>@computer.ComputerName</td>
                    <td>@computer.IpAddress</td>
                    <td>@computer.Location</td>
                    <td>@computer.IsWorking</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Computer", new { @id = computer.Id }, null)
                    </td>

                    n++;
                }
            </tbody>
        </table>
    </div>
</div>
